.searchBox {
  z-index: 1;
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 27px;
  width: 30%;
}

.pac-target-input {
  color: black;
  background-color: #fff;
  font-size: 15px;
  font-weight: bold;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
  border: transparent;
  box-shadow: 1px 2px 1px 2px #e2e2e2;
}

.pac-input:focus {
  border-color: #4d90fe;
}
