#GoogleMaps {
  width: 100vw;
  height: 100vh;
  z-index: 0;
  position: absolute;
  top: 0px;
  left: 0px;
}

.header {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
.logo {
  display: flex;
  justify-content: center;
}

.message {
  justify-content: center;
  text-align: center;
}
